[Unit]
Description=A daemon which gets weather for specified IP

[Service]
ExecStart=/usr/bin/bash -c 'uwsgi --ini /usr/local/etc/ip2w/uwsgi.ini'
Restart=always

[Install]
WantedBy=multi-user.target